Repository Mu-L/com.unity.multiplayer.mlapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Unity-Technologies/multiplayer-sdk, @miniwolf, @NoelStephensUnity, @fluong6, @michalChrobot, @EmandM

ci: Corrected double test runs for run all commands (#3295)
  .yamato/_run-all.yml
Owners: @miniwolf, @NoelStephensUnity, @fluong6, @michalChrobot, @EmandM

chore: [1.X] Renovate updates integration (#3288)
  .github/renovate.json5
  Tools/CI/global.json
  com.unity.netcode.gameobjects/package.json
  minimalproject/Packages/manifest.json
Owners: @miniwolf, @NoelStephensUnity, @fluong6, @michalChrobot, @EmandM, @Unity-Technologies/multiplayer-sdk

ci: Turn off title validation for single commit PRs (#3313)
  .github/workflows/conventional-pr.yml
Owners: @miniwolf, @NoelStephensUnity, @fluong6, @michalChrobot, @EmandM

ci: [1.X] CI failures fixes and disabled tests Jira tracking informations (#3303)
  .yamato/_run-all.yml
  .yamato/_triggers.yml
  .yamato/code-coverage.yml
  .yamato/console-standalone-test.yml
  .yamato/desktop-standalone-tests.yml
  .yamato/package-pack.yml
  com.unity.netcode.gameobjects/TestHelpers/Runtime/Metrics/WaitForMetricValues.cs
  com.unity.netcode.gameobjects/Tests/Editor/InterpolatorTests.cs
  com.unity.netcode.gameobjects/Tests/Editor/Metrics/NetworkMetricsRegistrationTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/DeferredMessagingTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/MetricsDispatchTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/NetworkObjectMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/NetworkVariableMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/OwnershipChangeMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/PacketLossMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/PacketMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/RpcMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/RttMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/ServerLogsMetricTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkObject/NetworkObjectSpawnManyObjectsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransformAnticipationTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkVariableTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/RpcTypeSerializationTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Timing/TimeInitializationTest.cs
  com.unity.netcode.gameobjects/Tests/Runtime/UniversalRpcTests.cs
  minimalproject/Packages/manifest.json
  testproject-tools-integration/Assets/Tests/Runtime/SceneEventTests.cs
Owners: @miniwolf, @NoelStephensUnity, @fluong6, @michalChrobot, @EmandM, @Unity-Technologies/multiplayer-sdk

fix: fastbufferreader does not honor arraysegment configuration (#3320)
  com.unity.netcode.gameobjects/CHANGELOG.md
  com.unity.netcode.gameobjects/Runtime/Serialization/FastBufferReader.cs
  com.unity.netcode.gameobjects/Tests/Editor/Serialization/FastBufferReaderTests.cs
  pvpExceptions.json
Owners: @Unity-Technologies/multiplayer-sdk

fix: NetworkEndPoint simplify to NetworkEndpoint in 2021.3 editor (#3319)
  .yamato/_triggers.yml
  com.unity.netcode.gameobjects/Runtime/Transports/UTP/UnityTransport.cs
Owners: @miniwolf, @NoelStephensUnity, @fluong6, @michalChrobot, @EmandM, @Unity-Technologies/multiplayer-sdk

fix: AnticipatedNetworkVariable not updating previous value [MTTB-1036] (back port) (#3322)
  com.unity.netcode.gameobjects/CHANGELOG.md
  com.unity.netcode.gameobjects/Runtime/NetworkVariable/AnticipatedNetworkVariable.cs
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkVariableAnticipationTests.cs
Owners: @Unity-Technologies/multiplayer-sdk

.github/CODEOWNERS:

# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information
# Order is important; the last matching pattern takes the most precedence.

* @Unity-Technologies/multiplayer-sdk
*.asmdef @miniwolf @NoelStephensUnity @fluong6 @michalChrobot @EmandM
package.json @miniwolf @NoelStephensUnity @fluong6 @michalChrobot @EmandM
AssemblyInfo.cs @miniwolf @NoelStephensUnity @fluong6 @michalChrobot @EmandM
.editorconfig @miniwolf @NoelStephensUnity @fluong6 @michalChrobot @EmandM
.gitignore @miniwolf @NoelStephensUnity @fluong6 @michalChrobot @EmandM
.github/ @miniwolf @NoelStephensUnity @fluong6 @michalChrobot @EmandM
.yamato/ @miniwolf @NoelStephensUnity @fluong6 @michalChrobot @EmandM
